/* buttons on index page */
.btn-primary {
    background-color: #C41230 !important;
}

.btn-primary.disabled {
    background-color: #C41230 !important;
}

/* map container */
#map {
    height: 50vh;
}
/* logo container */
#logo-container {
    margin: 0 auto;
    width: 75vw; 
    padding-top: 0px;
    padding-bottom: 20px;
}

#logo-container img {
    width: 75vw; 
}

/* Navbar container */
.navbar {
    background-color: inherit;
    font-family: inherit;
  } 
  
/* Links inside the navbar */
.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown-nav {
        float: left;
        overflow: hidden;
      }

/* Dropdown Button */
.dropdown-nav .dropbtn {
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    padding: 14px 16px;
    margin: 0;
    color: inherit;
  }
  
/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown-nav:hover .dropbtn {
    background-color: #E0E0E0;
  } 
  
/* Dropdown Content (Hidden by Default) */
 .dropdown-nav-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-nav-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-nav-content a:hover {background-color: #E0E0E0;}
  
  /* Show the dropdown menu on hover */
  .dropdown-nav:hover .dropdown-nav-content {display: block;}


.fw-normal-group{
    font-weight: 800 !important;
    font-size: 1.6em;
    padding-bottom: 1px;
}

/* bio page name */
.bio-name {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 0.1rem;
    margin-top: 0;
    padding-top: 0;
}

.text-muted{
    font-size: 0.85em !important;
}

.media-speaker {
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    grid-template-columns: 200px 1fr;
    align-items: flex-start;
}

.media-people-img {
    margin-right: 3rem;
    margin-top: 1em;
    border-radius: .25rem;
}

.media-people-text {
    box-sizing: border-box;
    padding-bottom: 2em;
    padding-top: 0;
    margin-top: 0.8em;
}

.media-org-text {
    box-sizing: border-box;
    column-count: 2;
    padding-top: 1rem !important;
    margin-top: 0px;
    padding-bottom: 1rem !important;
}

#bio-text {
    margin-top: 0.25rem;
}